<button type="button" class="buttonLogOut" (click)="logout()">LogOut</button>


<ng-container *ngIf="user$ | async as user">
    <div class="profile-grid">
      <div class="profile__header">
        <img [src]="user.picture" alt="Profile" class="profile__avatar" />
        <div class="profile__headline">
          <h2 class="profile__title">{{ user.name }}</h2>
          

          
          <!-- <h2 class="profile__title">{{ user.sub }}</h2> -->
        </div>
      </div>

      <div  class="userInfo">
         <p> <span class="titleInfo"> Given name: </span> {{ user.given_name }} <br>
         <span class="titleInfo"> Family name: </span> {{ user.family_name }} <br>
         <span class="titleInfo"> Email: </span> {{ user.email }}
        </p>
      </div>
      

      <!-- <ng-container *ngIf="code$ | async as code">
        <div class="profile__details">
          <div class="profile__detail">
            <span class="profile__detail-title">Código</span>
            <span class="profile__detail-value">{{ code }}</span>
          </div>
        </div>
      </ng-container> -->
    </div>
  </ng-container>