.buttonLogOut {
    color: white;
    background-color: #B65151;
    border-radius: 5px;
    height: max-content;
    border-width: 0;
    margin-bottom: 10px;
    align-self: self-end;
}

.userInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    .titleInfo {
        font-weight: bold;
    }
}

