<h2>Enviar Tokens</h2>

<div>
  <label for="outlookToken">Outlook Token:</label>
  <input type="password" [(ngModel)]="outlookToken" [type]="showtoken ? 'text' : 'password'" id="outlookToken">
</div>

<div>
  <label for="githubToken">GitHub Token:</label>
  <input type="password" [(ngModel)]="githubToken" [type]="showtoken ? 'text' : 'password'" id="githubToken">
</div>

<div>
  <label for="azureToken">Azure Token:</label>
  <input type="password" [(ngModel)]="azureToken" [type]="showtoken ? 'text' : 'password'" id="azureToken">
</div>

<button (click)="enviarTokens()">Enviar</button>

<button (click)="toggleShowToken()">{{ showtoken ? 'Ocultar' : 'Mostrar' }} Contraseñas</button>

