.navbar-bar {
    height: 60px;
    display: flex;
    gap: 15px;
    justify-content: center;
    background-color: #202020;
  
    .navbar-logo {
      min-width: 65%;
      border-radius: 15px;
      display: flex;
      align-items: center;
      
      background-color: #343541;
      border-color: #D18585;
      border-width: 1px;
      border-style: solid;

      img {
        height: 60px;
        min-width: 60px;
        padding-top: 0.2%;
        padding: 1%;
      }

      .hour {
        float: right;
        color: #D18585;
        font-family:'Courier New', Courier, monospace; //monospace
      }
      .navbar-title-text {
        color: #D18585;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1.1em;
        margin-inline: 5%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 40%;
  
        @media (max-width: 456px) {
          margin-inline-start: 5%;
        }
        
      }

      &:hover {
        cursor: pointer;
        background-color:#B65151;
        border-width: 0px;
        .navbar-title-text, .hour {
          color: #ffbbbb; //opciones: #ffbbbb, #ffb7b7, #b56e6e, #b16262, #D18585; 
        }

      }
      
    }
  

    .navbar-profile {
      background-color: #343541;
      min-width: 20%;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 2%;
      border-radius: 15px;
      border-color: #D18585;
      border-width: 1px;
      border-style: solid;
      justify-items: center;
  
      &:hover {
        cursor: pointer;
        background-color:#B65151;
        border-width: 0px;
        span {
            color: #ffbbbb; //opciones: #ffbbbb, #ffb7b7, #b56e6e, #b16262, #D18585; 
        }
      }
      img {
        border-radius: 50%;
        height: 45px;
//        margin-left: 20;
        min-width: 45px;
      }
  
      span {
        color: #D18585;
        font-family: 'Lato Regular', sans-serif;
        font-size: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @media (max-width: 400px) {
            display: none;
          }

      }

      
    }

    .active {
        background-color:#B65151;
        border-color: #B65151;
        border-width: 1px;
        
        .navbar-title-text {
            font-size: 1.1em;
            color: #e0e0e0;
            font-family: 'Lato', sans-serif;
            font-weight: bold;

        }span{
            color: #e0e0e0;
        }
        .hour{
          color: #e0e0e0;
        }
    }
  }

 