<div>
    

    <p>Before you can access Outlook services using PerficientBot, you need to obtain an access token from Microsoft Graph API. Follow the steps below:</p>
  
    <ol>
      <li>First, navigate to the 
        <a href="https://developer.microsoft.com/en-us/graph/graph-explorer" class="withLinks" target="_blank">Microsoft Graph Explorer 
            <img src="./assets/img/Link.svg" class="withGo" alt=""> 
      </a> website.</li>
      <li>Be sure to be logged with your Microsoft Account. 
        You will see a screen similar to the one shown in the reference image below:</li>
      
      <img src="..\assets\img\GitTut\Explorer1.png" alt="Graph Explorer Screenshot">
  
      <li>Make sure to modify the permissions so that you can create events using PerficientBot. Click on the <b>"Modify Permissions"</b> tab and ensure that <i>"User.Read"</i> and <i>"User.ReadWrite"</i> permissions are active.</li>
      
      <img src="image_reference_2.jpg" alt="Modify Permissions Screenshot">
  
      <li>Next, switch to the "Access Token" tab and click on the copy symbol to copy the token.</li>
      
      <img src="image_reference_3.jpg" alt="Access Token Screenshot">
  
      <li>Go back to PerficientBot > My Services, clear the content of the "Outlook Token" field, and paste the newly copied token using Ctrl + V.</li>
      
      <img src="image_reference_4.jpg" alt="PerficientBot Outlook Token Screenshot">
  
      <li>That's it! You can now access Outlook services using PerficientBot. You will be able to view and create new events effortlessly.</li>
    </ol>
  </div>
  