<div>
    

    <p>Before you can access Outlook services using <b style="color: #ffbdbd;">PerficientBot.</b>, you need to obtain an access token from 
        Microsoft Graph API. Follow the steps below:</p>
  
    <ol>
      <li>First, navigate to the 
        <a href="https://developer.microsoft.com/en-us/graph/graph-explorer" class="withLinks" target="_blank">Microsoft Graph Explorer 
            <img src="./assets/img/Link.svg" class="withGo" alt=""> 
      </a> website.</li> 
      <li>Be sure to be logged with your Perficient Microsoft Account. 
        You will see a screen similar to the one shown in the image below:</li>
      
      <img src="..\assets\img\OutTut\Explorer1.png" alt="Graph Explorer Screenshot">
        
      <li>Make sure to modify the permissions so that you can create events using PerficientBot. Click on the <b>Modify Permissions. </b> tab </li>  <img style="width: 15%;" src="..\assets\img\OutTut\ModifyPermissions.png" alt="Modify Permissions Tab">
        
      <li> Ensure that <i>User.Read</i> and <i>User.ReadWrite</i> permissions are active, by clicking <b>Consent</b> under <i>Status</i> column.</li>
         <img src="..\assets\img\OutTut\Permissions.png" alt="Allow Permissions">
      
    <br><br>
      <li>Next, switch to the <b>Access Token</b> tab and click on the copy symbol to copy the token.</li>
      
      <img src="..\assets\img\OutTut\AccessToken.png" alt="Access Token">
    <br><br>
      <li>Go back to <b>PerficientBot</b> > <b>My Services</b>, clear the content of the <i>Outlook Token</i> field, and paste the newly copied token using <b>Ctrl </b>+ <b>V</b>.</li>
      
      <img src="..\assets\img\OutTut\MyServices.png" alt="PerficientBot Tokens">
        
      <br><br>
      <h6 >That's it! You can now access Outlook services using <b style="color: #ffbdbd;">PerficientBot.</b>. You will be able to view and create new events effortlessly.</h6>
    </ol>
  </div>
  