#Smartbot {
    font-family: "Roboto", sans-serif;
    #Smartbot__body {
        height: calc(100% - 133px);
        padding: 10px;
    }

    #Smartbot__footer {
        background-color: #333;
        color: white;
        font-size: 14px;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        #Smartbot__footer--input {
            width: 100%;
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px 5px 0 0;
            box-sizing: border-box;
            font-size: 14px;
        }

        #Smartbot__footer--submitButton {
            width: 100%;
            padding: 10px;
            background-color: #2ca1da;
            color: #fff;
            border: none;
            border-radius: 0 0 5px 5px;
            cursor: pointer;
            font-size: 14px;
        }
    }

    .messages {
        height: 100%;
        overflow: auto;
        .message {
            display: flow-root;
            width: 100%;
            .client {
                background-color: #333;
                color: white;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                display: inline-block;
                max-width: 80%;
            }

            .user {
                border: 0.5px solid #333;
                background-color: #fff;
                color: #333;
                padding: 10px;
                border-radius: 5px;
                margin-bottom: 10px;
                display: inline-block;
                max-width: 80%;
                text-align: right;
                float: right;
            }
        }
    }
}