.container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    background-color: #343541;
    color: #f5f5f5;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%;
    height: 80vh;
  
    .sidebar {
      flex: 1;
      background-color: #B65151;
      padding: 20px;
      border-radius: 10px;
  
      ul {
        list-style-type: none;
        padding: 0;
        border-radius: 10px;
  
        li {
          cursor: pointer;
          padding: 10px;
          border-radius: 10px;
  
          &:hover {
            background-color: #D18585;
          }
  
          &.active {
            background-color: #f5f5f5;
            color: #B65151;
            font-weight:700;
          }
        }
      }
    }
  
    .content {
      flex: 3;
      background-color: #343541;
      padding: 20px;
      transition: background-color 0.3s ease;
     /*  border-color: #D18585;
      border-style:groove;
      border-radius: 10px; */
    
  
      &.active {
        background-color: lightblue;
        
      }
    }

    
  }
  