<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">



<div class="container">
  <div class="login-container">
    <h1 class="logo">/PerficientBot</h1>
    <p class="slogan">Leading Digital Change.<br>Driving Real Results.<br>Globally.</p>
    <hr>
    <button class="login-button" (click)="login()" > 
      <img src="..\assets\img\MicrosoftCol.svg" alt="">
      Login with Microsoft
    </button>
  </div>
</div>


