// .login-button{
//     background-color: #F5F5F5;
//     color: #B65151;
//     height: 70px;
//     border: none;
//     border-radius: 5px;
// }

html {
    height: 100%;
    overflow-x: hidden;
    //overflow-y: hidden;
    
}

.container{
  
  justify-content: center;
  align-items: center;
  display: flex;
  //padding-inline: 20%;
  padding: 5%;
  
}
.login-container {
    display: flex; //remove
    flex-direction: column; //remove
    // align-items: center; //remove
    // justify-content: center; //remove
    height: 100%;
    background-color: #343541; 
    color:  #D18585; 
    border-radius: 10px;
    border-color: #D18585;
    border-width: 1px;
    border-style:double;
    max-height: fit-content;
    padding: 8% 5% 5% 5%; //8% 5% 5% 5%
    //width: max-content;
    z-index: 1;

    &:hover{
      box-shadow: 0 0 1px #ff9696 ;
      border-color: #ff9696 ;
      border-width: 2px;
//      border-style: dashed;
    }
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
  }
  
  .slogan {
    margin-bottom: 2rem;
    color: #6c757d;
    font-family: monospace;
    text-align: left;
  }
  
  .login-button {
    padding: 0.5rem 1rem; //original: 1rem 2rem;
    font-size: 1rem; //original: 1.1rem; 
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);
    color: #adb5bd;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 1%;
    width: 100%;
    font-family: 'Lato Regular', sans-serif;
    transition: background-color 0.3s ease;

    img {
      width: 20%;
    }
    &:hover {
      background-color: #ab4949;   //#B65151;  
      color:#dadada;
      width: 100%;
    }
  }
  
  
  
  .login-button:focus {
    outline: none;
  }
  
//background animation test
.background-animation {
 
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(to bottom, #202020,  #202020 , #ff9696); //Option 1
  //background: linear-gradient(to bottom, #202020,  #ff9696, #202020); //Option2

  animation: backgroundAnimation 5s infinite;
  z-index: 0;
  opacity: 0.30;
  display: flex;
  gap: 1.5px;
  flex-wrap: wrap;

  span {
    position: relative;
    display: block;
    width: 100rem;
   
    background:#202020;
    z-index: 2;
    transition: 1s;
    &:hover {
      
      background: #ffbdbd;
      transition: 0.2s;
      
    }
   
  }

  //optional image
  img {
    width: 400px;
  }
}



