<nav class="navbar-bar">

    <!-- Chat Button -->
    <div class="navbar-logo" routerLink="/home" routerLinkActive="active">
      <img src="./assets/img/PerficientButton.png" alt="PerficientBotLogo">
        <span class="navbar-title-text">PerficientBot</span>
    </div>


    <div class="navbar-profile" routerLink="/profile" routerLinkActive="active">
        <img src="./assets/img/profilePic.png" alt="UserPictureProfile">
      <!-- <span>Hello, {{ username }}.</span> -->
      <span>Hello, Eunice.</span>
    </div>
  </nav>
  