@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#Smartbot {
    
    background-color: #343541;
    color: #F5F5F5;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%;
    height: 80vh;
    
    #Smartbot__popup {
        width: 100%;
        height: 50vh;
        min-height: 450px;
        background-color: transparent;
        border-radius: 5px;
        z-index: 1000;
        display: block;
        padding-bottom: 1%;
        

        #Smartbot__body {
            height: 62vh;
            padding: 10px;
            margin-bottom: 0%;
        }
    
        #Smartbot__footer {
            background-color: #F5F5F5;
            align-items: center;
            height: 11vh;
            border-radius: 10px;
            display: inline-flex;
            width: 100%;
            height: 16%;
            position:static;
            padding: 2%;

            #Smartbot__footer--input {
                background-color: #F5F5F5;
                border-radius: 10px;
                width: 100%;
                padding: 1%;
                
                border: 1px solid #F5F5F5;

                font-family: 'Lato', sans-serif;
                font-size: 1em;
                color: #343541;
                margin-left: 2%;
               
                
            }
    
            ::placeholder {
                color:#D18585;
                font-family: 'Lato';
                font-style: italic;
                font-size: 1em;
                line-height: 100%;
                height: 100%;
                
                //padding: 2%;
              }

            textarea:focus {
                outline: none;
                padding: 8%;
                resize: none;
               
            }
            textarea {
                resize: none;
            }

            #Smartbot__footer--submitButton {
                align-items: end;
                justify-content: flex-end;
                background-color: transparent;
                border: 0px;
                
                cursor: pointer;
                
                img {
                
                height: 30px;
                width: 30px;
                z-index: 1000;
               }
               
            }

            #Smartbot__footer--clearButton {
                background-color: #D18585;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                height: 40px;
                width: 40px;
                
                img {  
                    
                height: 30px;
                width: 30px;
                object-fit: cover;
                //z-index: 1000;
               }

            }
        }
    
        .messages {
            height: 100%;
            overflow: auto;
            
            .prueba {
                justify-content: flex-end;
            }
            .message {
                
                display: flex;
                width: 100%;
                justify-items: end;
                align-items: end;

                .chatpic {
                    height: 20px;
                    width: 20px;
                    margin: 1%;
                    align-self: self-end;
                    border-radius: 50%;
                }

                .assistant {
                    background-color: #545c63; //opciones: #545c63, #535b62 #596169 #495057, #6c757d, rgba(255, 255, 255, 0.15), #4a5a68, #6c6c6c
                    color: #e0e0e0;
                    padding: 10px;
                    border-radius: 5px 5px 5px 0px; //up-left up-right down-right down-left;
                    margin-bottom: 10px;
                    display: inline-block;
                    max-width: 80%;
                }
    
                .user {
                    white-space: pre-wrap;
                    border: 0.5px solid #333;  
                    background-color: #b56e6e; //opciones: #b56e6e, #b16262, #D18585;
                    color: #e0e0e0;
                    padding: 10px;
                    border-radius: 5px 5px 0px 5px; //up-left up-right down-right down-left;
                    margin-bottom: 10px;
                    max-width: 80%;
                    word-wrap: break-word;
                    text-align: left;
                    float: right;
                }
            }
        }
    }
}

//animation for writting test
#loading .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    background: #e0e0e0;;
    animation: writing 1s ease infinite;
    animation-delay: -0.8s;
  }
  #loading .dot.two {
    animation-delay: -0.7s;
  }
  #loading .dot.three {
    animation-delay: -0.6s;
  }
  
  @keyframes writing {
    0%,
      60%, 
      90%,
      100% {
      transform: initial;
    }
    30% {
      transform: translateY(-6px);
    }
  }
  
  