<section id="Smartbot">
  
    <div id="Smartbot__popup"> 
        
        <div id="Smartbot__body">
            <div class="messages" #scrollMe>
                
                <div *ngFor="let message of messages" [ngClass]="message.type === 'user' ? 'message prueba' : 'message'">
                    
                        <img *ngIf="message.type === 'assistant'" class="chatpic" src="..\assets\img\botPic.png" alt="Bot">
                        
                        <!-- style="white-space: pre-line" -->
                        <div [class]="message.type" >  {{message.message}} </div>

                        <img *ngIf="message.type === 'user' && (user$ | async) as user; else defaultImage" [src]="user?.picture || './assets/img/profilePic.png'" class="chatpic" alt="UserPictureProfile" />

                        <ng-template #defaultImage>
                        <img *ngIf="message.type === 'user'" class="chatpic" src="./assets/img/profilePic.png" alt="UserPictureProfile">
                        </ng-template>

                </div>
                <div *ngIf="loading" class="message" >
                    <img class="chatpic" src="..\assets\img\botPic.png" alt="Bot">
                    <div [class]="'assistant'">...</div>
                </div>
            </div>
        </div>

       
        <form id="Smartbot__footer" [formGroup]="chatForm">
            <button type="button" id="Smartbot__footer--clearButton" (click)="clearConversation()">
                <img src="../assets/img/BroomW.svg" alt="Clear">
            </button>

            <textarea 
                formControlName="message"
                type="text"
                id="Smartbot__footer--input"
                name="myprompt"
                placeholder="Send message to PerficientBot..."
                [(ngModel)] = 'myprompt'>
            </textarea>
            
            <button id="Smartbot__footer--submitButton" [disabled]="!chatForm.valid" (click)="sendMessage()">
                <img src="../assets/img/Sent.svg" alt="Send"/>
            </button>
        </form>
   </div> 
</section>